img.page_icon, img.category_icon {
    padding:0px 10px;
    vertical-align: middle;
    margin-bottom: .25em;
    text-decoration:none;
}

.page_item a, .cat-item a{
    text-decoration:none;
}

#sidebar li.page_item:before, #sidebar li.cat-item:before {
   content: "";
}