{% extends 'base.html' %}
{% load related_posts %}
{% block title %}{% if title_meta %}{{ title_meta }}{% endif %}{% endblock %}
{% if description_meta %}{% block meta_description %}{{ description_meta }}{% endblock %}{% endif %}
{% block content %}
{% if article %}
    <div class="spacer"></div>
    <div id="post-{{ article.id }}" class="postbox post-{{ article.id }} post type-post status-publish format-standard has-post-thumbnail hentry">
        <div class="postbox2">
            <div class="postbox3">
                <div class="post_title">
                    <h2>{{ article.name }}</h2>
                </div>
                <div class="post_author_date"> </div>
                <div class="clear"></div>
                <div class="entry">
                    <p>{{ article.full_post|safe }}</p>
                    <div class="clear"></div>
                </div>
                <div class="info">
                    <span class="info_category">Раздел:
                    {% if article.category %}
                        {% for cat in article.category.all %}
                        <a href="{% url 'category' cat.slug %}" rel="category tag">{{ cat.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                    </span>&nbsp;
                </div>
                {% related_posts article.tags article.id %}
            </div><!-- #postbox3 -->
        </div><!-- #postbox2 -->
    </div><!-- #postbox -->
{% include 'comments.html' %}
{% else %}
    <div class="entry">Запись не найдена!</div>
{% endif %}
{% endblock %}