{% load static %}
<div class="container">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <div class="row">
    <!-- Contenedor Principal -->
    <div class="comments-container">
        <h2>Комментарии</h2>

        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{% static 'images/ico/noavatar.png' %}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author">Дядя Вася</h6>
                            <span>25.12.2017 в 12:15</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart liked" class="liked" aria-hidden="true">15</i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? sdfhdsfhdfshdfshdfshdsfhdfhdfshdsfhdfhdsfhdfshdfsh dsfhdsfhdfshdfsh
                        </div>
                    </div>
                </div>
            </li>



        </ul>
    </div>
    </div>
</div>