{% extends 'base.html' %}
{% block title %}Туризм и путешествия по Европе. Культура, традиции, особенности. Достопримечательности городов и стран Европы.{% endblock %}
{% block meta_description %}С помощью данного сайта Вы сможете определиться с выбором где отдохнуть в Европе. Узнаете о достопримечательностях, особенностях, климате, культуре{% endblock %}
{% block content %}
    <div class="descr_site">
        <h2>Информация о сайте</h2>
        <p>Туристическая отрасль растет семимильными шагами и туризм в Европе приобретает все большую популярность среди граждан нашей страны.</p>
        <p> На страницах данного сайта вы сможете познакомиться с населением Европы, узнать подробности о культуре Европы, традициях и т.п. Вы ознакомитесь как со странами Западной Европы, так и Восточной Европы. Страны восточной Европы наделены монументальностью, чувствуется эпоха советского времени, которая переплетается со временем империализма. Страны западной Европы, это страны в которых на протяжении долгих лет устои не меняются, современность, и историческая наследственность вполне уживаются с друг другом. Города Европы славятся своим великолепием, историческая ценность каждого отдельного, конкретного города велика.</p>
        <p>Где отдохнуть в Европе вы сможете сами определиться, почитав о достопримечательностях той или иной страны. Особенности и достопримечательности Европы можно перечислять часами, но каждая отдельная страна, это кусочек истории и традиций!</p>
        <br />
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="navigation">
        <div id='wp_page_numbers'>
            <ul><li class="page_info">Страница 1 из 7</li><li class="active_page"><a href="http://veuropetourism.ru/">1</a></li>
            <li><a href="http://veuropetourism.ru/page/2">2</a></li>
            <li><a href="http://veuropetourism.ru/page/3">3</a></li>
            <li><a href="http://veuropetourism.ru/page/4">4</a></li>
            <li><a href="http://veuropetourism.ru/page/5">5</a></li>
            <li><a href="http://veuropetourism.ru/page/6">6</a></li>
            <li><a href="http://veuropetourism.ru/page/7">7</a></li>
            <li><a href="http://veuropetourism.ru/page/2">>></a></li>
            </ul>
            <div style='float: none; clear: both;'></div>
        </div>
    </div>
{% endblock %}