{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Туризм и путешествия по Европе. Культура, традиции, особенности. Достопримечательности городов и стран Европы.{% endblock %}
{% block meta_description %}С помощью данного сайта Вы сможете определиться с выбором где отдохнуть в Европе. Узнаете о достопримечательностях, особенностях, климате, культуре{% endblock %}
{% block content %}
    <div class="descr_site">
        <h2>Информация о сайте</h2>
        <p>Туристическая отрасль растет семимильными шагами и туризм в Европе приобретает все большую популярность среди граждан нашей страны.</p>
        <p> На страницах данного сайта вы сможете познакомиться с населением Европы, узнать подробности о культуре Европы, традициях и т.п. Вы ознакомитесь как со странами Западной Европы, так и Восточной Европы. Страны восточной Европы наделены монументальностью, чувствуется эпоха советского времени, которая переплетается со временем империализма. Страны западной Европы, это страны в которых на протяжении долгих лет устои не меняются, современность, и историческая наследственность вполне уживаются с друг другом. Города Европы славятся своим великолепием, историческая ценность каждого отдельного, конкретного города велика.</p>
        <p>Где отдохнуть в Европе вы сможете сами определиться, почитав о достопримечательностях той или иной страны. Особенности и достопримечательности Европы можно перечислять часами, но каждая отдельная страна, это кусочек истории и традиций!</p>
        <br />
    </div>
    <div class="spacer">&nbsp;</div>
{% if categories %}
    {% for category in categories %}
    {% if category.short_description %}
    <div id="post-{{ category.id }}" class="postbox post-{{ category.id }} post type-post status-publish format-standard has-post-thumbnail hentry">
        <div class="postbox2">
            <div class="postbox3">
                <div class="post_title">
                    <h2><a target="_blank" href="{% url 'category' category.slug %}" rel="bookmark" title="{{ category.name }}">{{ category.short_name }}</a></h2>
                </div>
                <div class="post_author_date"> </div>
                <div class="clear"></div>
                <div class="entry">
                    {% if category.thumb %}
                    <a target="_blank" href="{% url 'category' category.slug %}" rel="bookmark" title="{{ category.name }}"><img width="{{ category.thumb.width }}" height="{{ category.thumb.height }}" src="{{ category.thumb.url }}" class="img-circle alignleft post_thumbnail wp-post-image" alt="{{ category.name }}" /></a>
                    {% endif %}
                    <p>{{ category.short_description|safe }}</p>
                    <div class="clear"></div>
                </div>
            </div><!-- #postbox3 -->
        </div><!-- #postbox2 -->
    </div><!-- #postbox -->
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}