{% load staticfiles %}
<li id="text-2" class="widget_text">
    <div class="sb1_block_top">
        <div class="sb1_block_btm">
        <h4 class="sb1_title">Навигация по сайту</h4>
            <div class="textwidget">
                <ul>
                    <li class="cat-item cat-item-1"><a href="/" title="Перейти на главную страницу сайта"><img src="{% static 'images/icons/home-28x28.png' %}" class="category_icon" alt="Главная страница" />Главная страница</a>
                    </li>

                    <li class="cat-item cat-item-3"><a href="{% url 'category' 'information_velikobritaniya' %}" title="Просмотреть все записи в рубрике Информация о Великобритании"><img src="{% static 'images/icons/united_kingdom-28x28.png' %}" class="category_icon" alt="Информация о Великобритании" />Информация о Великобритании</a>
                    </li>

                    <li class="cat-item cat-item-3"><a href="{% url 'category' 'information_denmark' %}" title="Просмотреть все записи в рубрике Информация о Дании"><img src="{% static 'images/icons/denmark-28x28.png' %}" class="category_icon" alt="Информация о Дании" />Информация о Дании</a>
                    </li>

                    <li class="cat-item cat-item-4"><a href="{% url 'category' 'information_spain' %}" title="Просмотреть все записи в рубрике Информация об Испании"><img src="{% static 'images/icons/spain-28x28.png' %}" class="category_icon" alt="Информация об Испании" />Информация об Испании</a>
                    </li>

                    <li class="cat-item cat-item-5"><a href="{% url 'category' 'information_italy' %}" title="Просмотреть все записи в рубрике Информация об Италии"><img src="{% static 'images/icons/italy-28x28.png' %}" class="category_icon" alt="Информация об Италии" />Информация об Италии</a>
                    </li>

                    <li class="cat-item cat-item-6"><a href="{% url 'category' 'information_france' %}" title="Просмотреть все записи в рубрике Информация о Франции"><img src="{% static 'images/icons/france-28x28.png' %}" class="category_icon" alt="Информация о Франции" />Информация о Франции</a>
                    </li>

                    <li class="cat-item cat-item-7"><a href="{% url 'category' 'information_germany' %}" title="Просмотреть все записи в рубрике Информация о Германии"><img src="{% static 'images/icons/germany-28x28.png' %}" class="category_icon" alt="Информация о Германии" />Информация о Германии</a>
                    </li>

                    <li class="cat-item cat-item-8"><a href="{% url 'category' 'information_kipr' %}" title="Просмотреть все записи в рубрике Информация о Кипре"><img src="{% static 'images/icons/cyprus-28x28.png' %}" class="category_icon" alt="Информация о Кипре" />Информация о Кипре</a>
                    </li>

                    <li class="cat-item cat-item-9"><a href="{% url 'category' 'information_czech' %}" title="Просмотреть все записи в рубрике Информация о Чехии"><img src="{% static 'images/icons/czech_republic-28x28.png' %}" class="category_icon" alt="Информация о Чехии" />Информация о Чехии</a>
                    </li>

                    <li class="cat-item cat-item-9"><a href="{% url 'category' 'information_switzerland' %}" title="Просмотреть все записи в рубрике Информация о Швейцарии"><img src="{% static 'images/icons/switzerland-28x28.png' %}" class="category_icon" alt="Информация о Швейцарии" />Информация о Швейцарии</a>
                    </li>

                    <li class="cat-item cat-item-9"><a href="{% url 'category' 'information_sweden' %}" title="Просмотреть все записи в рубрике Информация о Швеции"><img src="{% static 'images/icons/sweden-28x28.png' %}" class="category_icon" alt="Информация о Швеции" />Информация о Швеции</a>
                    </li>

                    <li class="cat-item cat-item-11"><a href="{% url 'category' 'prazdniki_v_europe' %}" title="Просмотреть все записи в рубрике Праздники в Европе"><img src="{% static 'images/icons/strelka-28x28.png' %}" class="category_icon" alt="Праздники в Европе" />Праздники в Европе</a>
                    </li>

                    <li class="cat-item cat-item-12"><a href="{% url 'category' 'strany_goroda_europe' %}" title="Просмотреть все записи в рубрике Страны и города Европы"><img src="{% static 'images/icons/strelka-28x28.png' %}" class="category_icon" alt="Страны и города Европы" />Страны и города Европы</a>
                    </li>

                    <li class="cat-item cat-item-13"><a href="{% url 'category' 'chislennost_naseleniya_stran_europe' %}" title="Просмотреть все записи в рубрике Численность населения стран Европы"><img src="{% static 'images/icons/strelka-28x28.png' %}" class="category_icon" alt="Численность населения стран Европы" />Численность населения стран Европы</a>
                    </li>

                    <li class="cat-item cat-item-14"><a href="{% url 'category' 'pogoda_v_stranah_europe' %}" title="Просмотреть все записи в рубрике Погода в странах Европы"><img src="{% static 'images/icons/strelka-28x28.png' %}" class="category_icon" alt="Погода в странах Европы" />Погода в странах Европы</a>
                    </li>

                    <li class="cat-item cat-item-10"><a href="{% url 'category' 'dostoprimechatelnosti_europe' %}" title="Просмотреть все записи в рубрике Достопримечательности стран Европы"><img src="{% static 'images/icons/strelka-28x28.png' %}" class="category_icon" alt="Достопримечательности стран Европы" />Достопримечательности стран Европы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>