html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    /*background: transparent;*/ /*Note by Brian: may break IE 7 layout*/
}
body {
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

/*  [ Basic HTML ]                                                  */<!-- -->
body{
    position:relative; /*maybe wp_footer using absolute bottom*/
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color:#5F431C;
    background:#020605 url(/static/images/bg_repeat.jpg) repeat-y top center;
}

a {color:#CC4100;text-decoration: none;}
a:hover {color: #CC4100;text-decoration: underline;}

h1 {font-size:30px;}
h2 {font-size:26px;}
h3 {font-size:21px;}
h4 {font-size:17px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

hr {height:1px;border:none;border-top:1px dashed #6D5C40; width:95%;}
del {color:red;}
ins {color:green;}


p {margin: 0px 0px 12px 0px;}
pre { font-family: "Courier 10 Pitch", Courier, monospace; }
code { font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }
blockquote {
    clear: left;
    text-align: justify;
    padding: 0px 0px 0px 22px;
    margin: 10px 10px 10px 10px;
    border-left: 2px solid #6D5C40;
}
input,select,textarea {
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
}
ol { list-style:decimal; }
ul { list-style:disc; }
li { margin-left:20px; }

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
    margin-bottom:20px;
}


/*  [ Predefined Class ]                                            */<!-- -->
.alignleft {float: left;}
img.alignleft {
    float: left;
    display:inline;
    margin:3px 8px 8px 0;
}

.alignright {float: right;}
img.alignright {
    float: right;
    display:inline;
    margin:3px 0 8px 8px;
}
.aligncenter, img.aligncenter{
    clear: both;
    display: block;
   margin:0 auto 8px auto;
}

.clear {clear:both;}
.spacer {height:25px;}
.hide-div { display:none; }

/*  [ Layout ]                                                      */<!-- -->
#bg_top{
    position:relative;
    background:url(/static/images/bg_top.jpg) no-repeat center top;
}
#bg_btm{
    position:relative;/* put relative better*/
    background:url(/static/images/bg_btm.jpg) no-repeat center bottom;
}
#base{
    position:relative;
    margin:0px auto;
    width:990px;
    background:url(/static/images/bg_base_repeat.png) repeat-y top center;
    zoom:1;

}
#base_top {
}
#base_btm{
}
#header{
    position:relative;
    width: 990px;
    height: 262px;
    background:url(/static/images/bg_header.jpg) no-repeat center top;
    z-index:9999;
}
#menubar {
    position:relative;
    width:990px;
    height: 85px;
    margin:0;
    padding:0;
    z-index:9999;
    background:url(/static/images/bg_menu.jpg) no-repeat center top;
}

#container{
    position:relative;
    width:990px;
    padding:15px 0 0 0;
}
#container_top{
}
#container_btm{
}
#content{
    position:relative;
    display:inline;
    width:646px;
    margin:0 30px 0 0;
}
#content_top{
}
#content_btm{
}
#sidebar{
    position:relative;
    float:left;
    display:inline;
    overflow:hidden;
    width:268px;
    min-height:500px;
    margin: 0px 0 50px 30px;
    padding:0px 0px 0 0;
}

#footer{
    position:relative;
    overflow:hidden;
    height:278px;
    margin:0;
    background:url(/static/images/bg_footer.jpg) no-repeat center top;
}

/*  [ Header ] Blog Title, Description, Home URL                    */<!-- -->
#blog_name {
    font-family: Arial, "Georgia", Helvetica, Sans-Serif;
    font-size:35px;
    letter-spacing:0px;
    font-weight:bold;
    text-align:center;
    font-style:normal;
    padding:70px 0 8px 100px;
    margin:0px 400px 0px 0;
}
#blog_name a, #blog_name a:hover {
    color:#000000;
    text-shadow:0 0 2px #FFFFBE,0 0 5px #FFFFBE,0 0 8px #FFFFBE,0 0 11px #FFFFBE;
    text-decoration:none;
}
#blog_desc {
    font-family: Arial, Verdana, Sans-Serif;
    font-size:13px;
    font-style:normal;
    color:#000000;
    text-align:center;
    font-weight:bold;
    padding:0px 0 0px 100px;
    margin:0px 400px 0px 0;
    text-shadow:0 0 1px #FFFFBE,0 0 2px #FFFFBE,0 0 3px #FFFFBE;
}
#header .indent {
    display:block; font-size:1%; line-height:0; text-align:left; text-indent:-10000px;
}

#header .home {
    position:absolute;
    margin:0px;
    padding:0px;
    left:0px;
    top:00px;
    width:990px;
    height:260px;
}
#header .visit-expedia{
    position:absolute;
    display:block;
    top:216px;
    left:24px;
    width:40px;
    height:40px;
}

/*  [ Search Box ]                                                  */<!-- -->
.mainsearch {
    position:absolute;
    top:20px;
    right:15px;
    overflow:hidden;
    width:276px;
    height:63px;
    background:url(/static/images/bg_search.png) no-repeat 0 0;
}
.mainsearch_hover{
}
.mainsearch .keyword {
    /*visibility:hidden;*/
    position:absolute;
    top:28px;
    left:145px;
    width:110px;
    font-size:13px;
    height:21px;
    padding:0;
    margin:0 0 0 0;
    font-family: Arial, Verdana, Helvetica;
    font-weight:bold;
    font-style:normal;
    color:#726767;
    border:none;
    background:transparent;
}
.mainsearch .submit {
    position:absolute;
    cursor:pointer;
    border:none;
    top:0px;
    left:80px;
    height:60px;
    width:60px;
    background:transparent;
}

/*  [ Icons] RSS & Twitter                                          */<!-- -->
.rss {
    position:absolute;
    display:block;
    top:37px;
    right:242px;
    width:36px;
    height:36px;
    background:url('/static/images/rss-twitter.png') no-repeat 0px 0px;

}
.rss:hover{
    background:url('/static/images/rss-twitter.png') no-repeat 0 -36px;
}
.twitter {
    position:absolute;
    overflow:hidden;
    display:block;
    top:37px;
    right:200px;
    width:32px;
    height:36px;
    background:url('/static/images/rss-twitter.png') no-repeat -45px 0;
}
.twitter:hover{
    background:url('/static/images/rss-twitter.png') no-repeat -45px -36px;
}


/*  [ Menu ]  Level 1                                               */<!-- -->
    /* if possible, give menu dynamic width*/
div.menu {
    position:relative;
    font-size: 11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width:680px;
    margin-left:15px;
}

div.menu ul{
    position:absolute;
    list-style:none;
    top:0;
    left:0;
    height:85px;
    margin:0;
    padding:0;
}
div.menu ul li {
    position:relative;
    display:inline;
    margin:0;
    padding:0;
}

div.menu li a {
    display: block;
    overflow:hidden;
    width:130px;
    height:55px;
    line-height:55px; /*set for IE7*/
    color: #FFFFFF;
    padding:0px 22px 0px 13px;
    margin:30px 0 0 0;
    text-align:center;
    text-decoration:none;
    background:url(/static/images/bg_menuitem1.png) no-repeat center top;
    letter-spacing:-1px;
}

div.menu > ul > li a:hover,
div.menu > ul > li.current_page_item > a,
div.menu > ul > li.current_page_ancestor > a,
div.menu > ul > li.current_page_parent > a,
div.menu > ul > li.current-menu-ancestor > a,
div.menu > ul > li.current-menu-item > a,
div.menu > ul > li.current-menu-parent > a{
    color:#FFFFFF;
    background:url(/static/images/bg_menuitem2.png) no-repeat center top;
}
div.menu ul li.hover{
}

.menu_icon1{
    position:absolute;
    top:5px;
    left:0;
    width:50px;
    height:43px;
    background:url(/static/images/icon_menu1.png) no-repeat left top;
}
.menu_icon2{
    position:absolute;
    top:5px;
    left:0;
    width:43px;
    height:43px;
    background:url(/static/images/icon_menu2.png) no-repeat left top;

}
.menu_icon3{
    position:absolute;
    top:5px;
    left:0;
    width:57px;
    height:43px;
    background:url(/static/images/icon_menu3.png) no-repeat left top;

}
.menu_icon4{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:48px;
    background:url(/static/images/icon_menu4.png) no-repeat left top;

}
.menu_icon5{
    position:absolute;
    top:0;
    left:-2px;
    width:45px;
    height:45px;
    background:url(/static/images/icon_menu5.png) no-repeat left top;
}
/*      [ Menu ]  Level 2                                            */<!-- -->
div.menu ul ul  {
    position: absolute;
    float: left;
    display: none;
    margin:0px 0 0 -2px;
    padding:1px 0 0 0;
    top: 100%;
    left: 0;
    z-index:9999;
}

div.menu ul ul li {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

div.menu ul ul li a{
    display: block;
    padding:10px 10px;
    margin:-1px 0 0 0;/* -1 to reduce border*/
    width: 150px;
    height:auto;
    line-height:20px;
    text-align:left;
    color:#5F431E;
    border:1px #978360 solid;
    background:#E0D9AF;
}

div.menu ul ul li a:hover,
div.menu ul ul li.current_page_item > a,
div.menu ul ul li.current_page_ancestor > a,
div.menu ul ul li.current_page_parent > a,
div.menu ul ul li.current-menu-ancestor > a,
div.menu ul ul li.current-menu-item > a,
div.menu ul ul li.current-menu-parent > a{
    height:auto;
    color:#CE4002;
    border:1px #978360 solid;
    background:#E0D9AF;
}
/*  [ Menu ]  Level 3                                            */<!-- -->
div.menu ul ul ul{
    left: 100%;
    top: 0px;
    margin:5px 0 0 -5px;
}
div.menu ul li:hover > ul{ display:block; }

.descr_site{
    position:relative;
    overflow:hidden;
    line-height: 1.7em;
    margin: 15px 10px 10px 10px;
    padding:0 0 0 0;
    color:#403930;
    text-align: justify;
}
.descr_site h2{
    color: #977144;
    font-size: 18px;
    text-decoration:none;
    text-align:center;
}

/*  [ Sidebar ] General                                             */<!-- -->
#sidebar1 select {
    margin:5px 0px 0px 5px;
    font-size:11px;
    width:215px;
    overflow:hidden;
}

/*      [ Sidebar 1]                                                 */<!-- -->
#sidebar1 {
    position:relative;
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color:#5E431D;
}
#sidebar1 a {color:#5E431D; text-decoration:none;}
#sidebar1 a:hover{ color:#CD4002; text-decoration:underline;}
#sidebar1 ul {
    position:relative;
    list-style-type:none;
    margin:0;
    padding:0;
}
#sidebar1>ul>li{ /* before = #sidebar1 ul li */
    position:relative;
    margin:0 0 10px 0;
    padding:0;
    width:268px; /*have to set for stupid ie7*/
    background:url('/static/images/bg_sb1_repeat.jpg') repeat-y center top;
}
#sidebar1 div.sb1_block_top{
    padding:0;
    margin:0;
    background:url('/static/images/bg_sb1_top.jpg') no-repeat center top;
}

#sidebar1 div.sb1_block_btm{
    margin:0;
    width:268px; /*have to set for stupid ie7*/
    padding:55px 9px 15px 9px;
    background:url('/static/images/bg_sb1_btm.jpg') no-repeat center bottom;
}

#sidebar1 .sb1_title { /*before #sidebar h4*/
    margin:-28px 0px 10px 50px;
    padding:0px 0 0 0;
    width:200px;
    line-height:18px;
    color:#977144;
    font-family: "Times New Roman",Verdana, Arial, Helvetica, Sans-Serif;
    font-size:15px;
    font-weight:bold;
    text-align:left;
    background:none
}

#sidebar1 li li {
    line-height:1.6em;
    padding:0px 0px 0px 12px;
    margin:0 0 2px 10px;
    background:url('/static/images/bg_sb1_arrow.png') no-repeat 0px 7px;
    min-height:0;
}
#sidebar1 .textwidget {
    padding:0;
}
#sidebar1 .widget_mycategoryorder li {
line-height:1.6em;
    padding:0px 0px 0px 0;
    margin:0 0 14px 0px;
    min-height:0;
background:none;
}
#sidebar1 .widget_text li {
line-height:1.6em;
padding:0px;
margin:0 0 14px 0px;
min-height:0;
background:none;
}


#sidebar1 li li li{
    margin:2px 0 0 0;
}
/*  [ Content ] Post                                                */<!-- -->
.postbox{
    position:relative;
    width:646px;
    margin:0 0 35px 0;
    padding:0;
}
.postbox2{
}
.postbox3{
    overflow:hidden;
    margin:0;
    padding:0 0 20px 0;
    background:url(/static/images/bg_post_btm.png) no-repeat right bottom;
}

.post_title{
    position:relative;
    overflow:hidden;
    width:526px;
    height:36px;/*89*/
    margin-bottom:10px;
    padding:20px 30px 33px 90px;
    background:url(/static/images/bg_post_title.jpg) no-repeat left top;
}
.sticky .post_title{
    background:url(/static/images/bg_post_title_sticky.jpg) no-repeat left top;
}

.post_title a{
    color: #F6EEBD;
    text-decoration:none;
}
.post_title h1{
    color: #F6EEBD;
    text-decoration:none;
}

.sticky .post_title a{
    color: #000000;
    text-decoration:none;
}

.post_title a:hover, .sticky .post_title a:hover{
    text-decoration:underline;
}
.post_title h1, .post_title h2{
    overflow:hidden;
    height:42px;
    font-family:Arial, Verdana, sans-serif;
    font-size:18px;
    line-height:22px;
    font-weight:normal;
    font-style:italic;
    margin:0;
    padding:0;
}

.post_author_date {
    position:relative;
    padding:0;
    height:20px;
    line-height:19px;
    font-size:10px;
    text-align:left;
    margin:-38px 300px 10px 100px;

}
.post_author a{
    color:#000000;
    text-decoration:none;
}
.page .post_author_date{
    display:none;
}
.post_date{
    font-weight:bold;
    color:#8C3C0C;
}
.post_author{
    padding:0 0 0 8px;
    background:url('/static/images/bg_post_arrow1.png') no-repeat left 4px;
}

/*      [ Content ] Entry                                            */<!-- -->
.entry{
    position:relative;
    overflow:hidden;
    line-height: 1.7em;
    margin: 15px 10px 10px 10px;
    padding:0 0 0 0;
    color:#403930;
}
.page .entry{
    margin-top:15px;
}

img.post_thumb {
    float:left;
    display:block;
    padding:1px;
    margin:5px 10px 0 0;
    border:1px solid #948252;
    background:transparent;
}

.entry a{
    text-decoration:none;
}
.entry a:hover{
    text-decoration:underline;
}

.entry table {
    border: 1px solid #948252;
    text-align: left;
    width: 100%;
}
.entry tr th, .entry thead th {
    font-weight: bold;
    padding: 8px 20px;
}
.entry tr td {
    padding: 5px 20px;
}

/*      [ Content ] Post Info                                        */<!-- -->
.info a{
    color:#CD4002;
    text-decoration:none;
}

.info a:hover{
    color:#CD4002;
    text-decoration:underline;
}

.info {
    position:relative;
    line-height: 1.7em;
    font-size: 10px;
    padding:5px 0 0 0;
    margin:0 20px 0 20px;
}
.info_category {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 4px 20px;
    background: url('/static/images/icon_category.png') no-repeat top left;
}

.info_tag {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 4px 20px;
    background: url('/static/images/icon_tag.png') no-repeat top left;
}

.info_comment {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 4px 20px;
    background: url('/static/images/icon_comment.png') no-repeat top left;
}

/*      [ Content ] MISC                                             */<!-- -->
.archivetitle {
    color: #B17243;
    text-align:center;
    font-size: 17px;
    font-weight:bold;
    font-style:italic;
    line-height:12px;
    padding: 25px 25px 40px 20px;
    margin:0;
}
.navigation {
    clear:both;
    overflow:hidden;
    font-size: 11px;
    font-weight:normal;
    margin: 10px 20px 0 20px;
    padding: 5px 5px 0 5px;
}
.navigation a{
    text-decoration:none;
}
.sorry {
    font-size: 12px;
    font-style: italic;
    margin: 0px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    border: 1px dashed #948252;
}

#featured {
    padding:0;
    margin:10px 0 0 0px;
}

/*  [ Comment ] General                                             */<!-- -->
#postmetadata {
    margin: 10px 15px 20px 15px;
    padding: 10px;
    border:1px #948252 solid;
    border-right:4px #948252 solid;
    border-left:4px #948252 solid;
    background:#F6F0D6;
    line-height:1.6em;
}
#postmetadata a{
    text-decoration:underline;
}
.nocomments {background: none;margin:10px;padding:20px;color: #000000;}

#comments_title {
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    margin: 0 15px;
    padding:0;
    font-variant: normal;
    border-bottom: 2px groove #948252;
}

ol.commentlist {
    position:relative;
    list-style: none;
    line-height:1.6em;
    margin:5px 0px ;
    padding:5px 15px;
    font-size:12px;
    background:none;
    border:none;
}
ol.commentlist .comment a{
    text-decoration:none;
    border-bottom: 1px #948252 dotted;
}
ol.commentlist .trackback a.url,
ol.commentlist .pingback a.url{
    text-decoration:none;
    font-style:italic;
}

ol.commentlist .comment,
ol.commentlist .trackback,
ol.commentlist .pingback{
    margin:10px 0 0 0;
    padding:0;
}

ol.commentlist .children{
    list-style: none;
    padding:0;
    margin:0 0 0 15px;
}

ol.commentlist .comment div,
ol.commentlist .trackback div,
ol.commentlist .pingback div{
    padding:5px;
    background:#FEF9E5;
    border:1px #948252 solid;
    border-left:4px #948252 solid;
}

ol.commentlist .trackback div,
ol.commentlist .pingback div{
    border:1px #948252 dashed;

}

/*ol.commentlist .comment div div,
ol.commentlist .trackback div div,
ol.commentlist .pingback div div{*/
ol.commentlist .comment div div{
    background:none;
    padding:0;
    border:none;
}

ol.commentlist .says{
    display:none;
}
ol.commentlist .avatar{
    position:relative;
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 0;
    border:none;
}

ol.commentlist .fn{
    color:#000000;
    font-weight:bold;
    font-size: 11px;
    font-style:normal;
}
ol.commentlist .fn a{
    color:#000000;
    text-decoration:none;
    font-weight:bold;
    border:none;
    font-style:normal;
}
ol.commentlist .fn a:hover{
    text-decoration:underline;
}

ol.commentlist .bypostauthor .fn,
ol.commentlist .bypostauthor .fn a,
ol.commentlist .comment-author-admin .fn,
ol.commentlist .comment-author-admin .fn a,
ol.commentlist .comment-author-author .fn,
ol.commentlist .comment-author-author .fn a,
ol.commentlist .comment-author-editor .fn,
ol.commentlist .comment-author-editor .fn a,
ol.commentlist .comment-author-contributor .fn,
ol.commentlist .comment-author-contributor.fn a{
    font-style:italic;
    text-decoration:none;
    border:none;
}
ol.commentlist .bypostauthor .fn,
ol.commentlist .bypostauthor .fn a{
    text-decoration:underline;
}

ol.commentlist .comment .comment-meta{
    float:left;
    margin:0 0 5px 0px;
    padding:0;
    font-size:10px;
}
ol.commentlist .comment .comment-meta a,
ol.commentlist .trackback .comment-meta a,
ol.commentlist .pingback .comment-meta a {
    color:#000000;
    text-decoration:none;
    border:none;
}

ol.commentlist .comment .comment-body{
    clear:both;
    padding:10px 0 0 0;
    border-top: 1px dashed #948252;
}

ol.commentlist .comment .reply{
    position:relative;
    clear:both;
    overflow:hidden;
    margin:5px -5px -5px 0;
    padding:0px;
    font-size:10px;
    text-align:center;
}
ol.commentlist a.comment-reply-link{
    float:right;
    display:block;
    font-size:10px;
    color:#000000;
    padding:5px;
    text-decoration:none;
    border:0;
}
ol.commentlist a.comment-reply-link:hover{
    text-decoration:underline;
}
ol.commentlist .trackback a.comment-reply-link,
ol.commentlist .pingback a.comment-reply-link{
    display:none;
}

/*      [ Comment ] Paging                                           */<!-- -->
.commentnavi{
    overflow:hidden;
    font-size:11px;
    margin:0;
    padding-right:10px;
}
.commentnavi a{
    text-decoration:none;
}
.commentpages{
    float:right;
    padding:5px 10px;
}
.page-numbers{
    font-weight:bold;
    padding:2px 3px 2px 3px;
}
.current{
    font-weight:bold;
    text-decoration:underline;
}
/*      [ Comment ] Form                                             */<!-- -->
#respond {
    clear:both;
    padding:5px 10px;
    margin:15px 15px 0px 15px;
    font-size:11px;
    background:#FEF9E5;
    border:1px #827955 solid;
}
#respond p{
    margin: 8px 0;
}
.commentlist #respond{ /*when click reply*/
    margin-right:0;
}
#reply-title{ /*this is h3*/
    font-size:15px;
    font-weight:bold;
    margin:0;
}
#cancel-comment-reply-link{
    font-size:11px;
    color:#ff0000;
}

#commentform {
    margin:0;
    padding:10px 0 0 0;
}
#respond .comment-notes{
}
#respond label{
    font-size: 12px;
    margin-right:10px;
}
#respond .required{
    font-weight: bold;
}
#respond .form-allowed-tags {
    font-size: 11px;
    line-height: 14px;
}
#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond input {
    color: #000000;
    font-size: 12px;
    padding-left: 2px;
    vertical-align: middle;
    border: 1px solid #948252;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background:#ffffff;
}
#respond textarea{
    width: 98%;
    font-size: 11px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color:#000000;
    border: 1px solid #948252;
    padding: 2px;
    margin-left:5px;
    background:#ffffff;
}

#respond #submit {
    cursor:pointer;
    color: #ffffff;
    font-weight:normal;
    font-size: 11px;
    margin: 0px 0px 0px 10px;
    padding: 5px 15px;
    border: 1px solid #948252;
    background:#827955;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

/*  [ Footer ] Link and credit                                      */<!-- -->
#footer_credit{
    position:absolute;
    overflow:hidden;
    bottom:0;
    right:20px;
    height:50px;
    width:450px;
    line-height:1.3em;
    margin:0;
    font-size:11px;
    color:#FFFFFF;
    text-align:right;
}
#footer_credit a{
    font-size:11px;
    color:#FFFFFF;
    text-decoration:none;
}
#footer_credit a:hover{
    text-decoration:underline;
}
/*  [ Widget and MISC ]                                             */<!-- -->
.wp-caption {
    text-align:center;
    color:#666666;
    padding-top:3px;
}
.wp-caption .wp-caption-text {
    font-size:10px;
    line-height:17px;
    padding:5px;
    margin:0;
}

#wp-calendar {
    line-height:1.6;
    width: 240px;
    margin:0 5px;
    text-align: center;
    font-size:11px;
    color:#333333;
}
#wp-calendar caption {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: center;
}

#wp-calendar td {
    font-size:11px;
    color:#333333;
}
#wp-calendar td a {
    font-weight:bold;
    text-decoration:none;
}

.wp_tag_cloud div {
}

.textwidget {
    padding:5px 5px 0 5px;
    line-height:1.6em
}

#akismetwrap{
    margin:2px 5px 2px 10px;
}
.rsswidget img {
    display:none;
}

#sidebar h4 a.rsswidget{
    margin-left:0px;
    overflow:hidden;
    text-decoration:none;
}
.wp-smiley{
    vertical-align:middle;
    border:0px;
    padding:0px;
}
/*  [ Custom Widget and options]                                    */<!-- -->
.widget_ads250 { /* |4px  3px[img=125px]3px 3px[img=125px]3px 4px| .... total 260px*/
    padding:0;
    text-align:center;
    overflow:hidden;
    margin:0 -7px;
}
.widget_ads250 img{
    padding:1px 1px 0 0px;
}
img.page_icon, img.category_icon {
    padding:0px 10px;
    vertical-align: middle;
    margin-bottom: .25em;
    text-decoration:none;
    /*
    width:28px;
    height:28px;/**/
}

.cat-item a{
    text-decoration:none;
}

#sidebar #sidebar li.cat-item:before {
   content: "";
}

#header{
    background:url('/static/images/bg_header.jpg') no-repeat center top;
}




.paginate {
    text-align: center;
}
/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 30px auto 15px;
	width: 95%;
}

.comments-list {
	margin-top: 20px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/


.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: relative;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 85%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.likes_b {
    background: #FCFCFC;
}
.likes_b i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.likes_b i:hover {
    color: #03658c;
}
.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 510px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #845D40;}
.comment-box .comment-name.by-author:after {
	content: 'Добавлен: ';
	background: #845D40;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 700px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}
/* Add comment */
.form-group.required .control-label:after {
    content:"*";
    color:red;
}


.liked::before {
  color: #600;
  content: '\f004';
}

.not-liked::before {
  color: #aaa;
  content: '\f08a';
}


/** =====================
 * Scroll
 ========================*/
.cd-top {
 display: inline-block;
 overflow: hidden;
 height: 30px;
 width: 30px;
 position: fixed;
 bottom: 40px;
 right: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, .05);
 text-indent: 100%;
 white-space: nowrap;
 background: url('/static/images/icons/cd-top-arrow.svg') center 50% no-repeat #477883;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity .3s 0s, visibility 0s .3s;
 -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;
 border-radius: 50%
}

.cd-top.cd-fade-out, .cd-top.cd-is-visible, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s;
 -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s
}

.cd-top.cd-is-visible {
 visibility: visible;
 opacity: 1
}

.cd-top.cd-fade-out {
 opacity: .5
}

.no-touch .cd-top:hover {
 background-color: #595986;
 opacity: 1
}

@media only screen and (min-width:768px) {
 .cd-top {
 right: 20px;
 bottom: 20px
 }
}

@media only screen and (min-width:1024px) {
 .cd-top {
 height: 60px;
 width: 60px;
 right: 30px;
 bottom: 30px
 }
}


